[2020-08-11 03:13] Souvikns opened #3 "Inquiring about state management"
If this project is going to use redux as it's state management tool I would like to create the initial reducers and actions and connect it as my first PR as a Hackincodes participant.

### Here's what I am going to do
- [ ] Create individual reducers and combine them to a root reducer
- [ ] Make actions and action types for updating the state
- [ ] connect the redux store with the root component t

[2020-08-13 07:40] #3 closed

[2020-08-13 07:46] anushbhatia opened #4 "Home Page"
Description of various events being displayed and a basic description of the project
[Events Page](https://www.townscript.com/in/vadodara)

- [ ] Have a basic Home Page listing Descriptions
- [ ] Video Playing in intro with optimization
- [ ]  Cards
- [ ] Footer
- [ ] Navbar

For events use upcoming open source events

[2020-08-13 07:48] anushbhatia opened #5 "Form Page"
This page will have a form which when filled will sent them message of the deadlines and important events

- [ ] Basic Form Structure : assigned to @rohan2734
- [x] Basic Email Message: addition of send Email function as a util : assigned to @Souvikns (done)
- [ ] LinkedIn Message Using Visor API: assigned to @rohan2734 (In- progress)
- [x] Whatsapp Message using selenium : assigned to @rohan2734

[2020-08-13 07:51] anushbhatia opened #6 "About Us Page"
For content add a Lorem Ipsum as of now further content will be shared

- [x] Graphics form [undraw.co](undraw.co)
- [x] Add logos of various Social Media: Instagram, Facebook, Whatsapp, Linkedin
- [ ] Features Section
- [ ] Try not using cards in this instead of having something more of simple.

[2020-08-13 08:00] anushbhatia opened #7 "Contact Page"
Basic Contact Form

- [x] Adding Illustartion from Undraw
- [ ] Formspree for sending response to a specific id
- [ ] Adding Details of the mentors and contributors.

[2020-08-13 08:02] anushbhatia opened #8 "Bugs"
Any bugs or issues in the current project will be added here

[2020-08-13 08:11] Shruti3004 commented on #4
@anushbhatia I wanted to know are you having any mockup for home page

[2020-08-13 08:11] chetnaSharma24 commented on #7
i would like to resolve this issue.

[2020-08-13 08:22] chetnaSharma24 commented on #5
I would like to work upon the **Basic form structure**

[2020-08-13 08:39] shawavisek35 commented on #7
I would like to work upon this issue.

[2020-08-13 09:03] shankhanil007 commented on #7
I would like to work upon "Formspree for sending response to a specific id"

[2020-08-13 09:04] Souvikns commented on #5
I would like to work on **Basic Email Message**.

[2020-08-13 09:08] rohitgeddam commented on #6
I want to do this

[2020-08-13 09:11] shudhanshu03 commented on #7
Assign me , I would like to work . Even i have started working on it

[2020-08-13 09:21] aayushi2883 commented on #6
I would like to work upon it

[2020-08-13 09:27] anushbhatia commented on #7
Adding Illustartion from Undraw and basic form- @shawavisek35
Formspree for sending response to a specific id @shankhanil007
Adding Details of the mentors and contributors.-@chetnaSharma24
@shudhanshu03 You can create the header for the contact page [like this](https://www.choicescreening.com/contact-choice-screening).

[2020-08-13 09:30] anushbhatia commented on #6
@rohitgeddam Complete these tasks
Graphics form undraw.co
Add logos of various Social Media: Instagram, Facebook, Whatsapp, Linkedin

@aayushi2883 You can create features like [this](https://themeisle.com/demo/?theme=Hestia)

[2020-08-13 09:31] anushbhatia commented on #5
@chetnaSharma24 First finish your previous task then i will assign you this @Souvikns will have this issue for 5 days

[2020-08-13 09:32] anushbhatia commented on #4
Sure go on

[2020-08-13 09:37] Souvikns commented on #5
are there any specific third party email api that I should be using

[2020-08-13 09:42] Souvikns commented on #5
Also for the form design I had made a view like typeform. Tell me If I should make something similar. [here](https://mcu-web.onrender.com/coreform)

[2020-08-13 10:13] ritiksoni00 opened #10 "Issue & pull_request_templates"
can I add those File To project so that Everyone has clarity for making an issue or PR ??

[2020-08-13 10:33] rohitgeddam commented on #6
i already made a PR

[2020-08-13 11:14] anushbhatia opened #12 "GitHub Action"
Any Relevant Actions To Be Used can be mentioned here

[2020-08-13 12:15] chetnaSharma24 commented on #7
how do i get the list of mentors and contributors?. would you please help me out

[2020-08-13 13:36] rohitgeddam commented on #12
please add lint test

[2020-08-13 13:56] smaranjitghose commented on #7
Project Maintainers:
Anush Bhatia
Smaranjit Ghose

Contributors:
Just have a look at the Pull Request. Anyone who has got their Pull Request merged is a contributor (even you when you give the PR for this 😊)

[2020-08-13 19:23] Jyotika999 commented on #10
Can I work on this issue?

[2020-08-14 05:14] anushbhatia commented on #7
1st task is complete😎. Great work Team

[2020-08-14 08:51] ritiksoni00 commented on #10
currently, I'm working and I'm not the assigned but if you want, you can make Issue_template File. EASYY

[2020-08-14 11:28] Souvikns commented on #5
@anushbhatia please will you clear my doubts

[2020-08-14 11:31] anushbhatia commented on #5
Formspree can br used but we can different forms of Event forms. So we can add them

[2020-08-14 11:35] rohan2734 commented on #4
hello , I would like to work on video playing in intro with optimization. can you explain me , what are the things required for this?

[2020-08-14 11:39] Souvikns commented on #5
Also what inputs should I be talking from the forms

[2020-08-14 13:01] Nazeeh2000 commented on #6
I would like to work upon this issue

[2020-08-14 13:09] Nazeeh2000 commented on #6
I would like to work on this issue

[2020-08-14 18:40] anushbhatia commented on #4
do u know how to make videos

[2020-08-14 19:05] #10 closed

[2020-08-14 19:06] anushbhatia commented on #10
We are looking PRs related to the code.

[2020-08-14 19:07] anushbhatia commented on #6
- [ ] Features Section
- [ ] Try not using cards in this instead having something more of simple.

[2020-08-14 19:24] chetnaSharma24 commented on #4
hii,
I would like to work upon this issue ,
I will  add the footer section in it.
😊
@anushbhatia

[2020-08-15 01:05] shawavisek35 commented on #4
I would to like to work upon the navbar section.

[2020-08-15 02:49] ritiksoni00 commented on #10
is this not Require ??

[2020-08-15 05:30] Sapna2001 opened #17 "Create issue and PR template"
Add issue and PR template

[2020-08-15 07:06] Nazeeh2000 commented on #4
I would like to work upon the Description listing.

[2020-08-15 07:07] Nazeeh2000 commented on #4
For now, I will add some Lorem Ipsum in description

[2020-08-15 08:48] smaranjitghose commented on #17
We are no longer accepting PRs for MD files related to ISSUE and PR Templates

[2020-08-15 08:48] #17 closed

[2020-08-15 13:26] rohan2734 commented on #4
@anushbhatia i will learn and do , I will do it in a very short time. Please tell me what are things to know.

[2020-08-15 15:40] Nazeeh2000 commented on #4
Ohk if you want to work on that then u can continue

[2020-08-15 16:04] abhu-A-J opened #18 "Add details to setup the application on the local environment"
**README.md Update**

Add detailed information about how to set up the application on your local machine for future participants to use it as a resource.

You must include detailed steps which should cover:
1. Installing dependencies
2. Serving the application
3. Remove the section for available scripts.

Mention Node.js as a requirement for the link and maybe a few resources to help install in di

[2020-08-15 16:31] srishtij2000 commented on #6
I would like to work on this issue

[2020-08-15 18:37] srishtij2000 commented on #4
I would like to work on cards section

[2020-08-15 18:40] srishtij2000 commented on #5
I would like to work on basic form structure

[2020-08-16 02:57] AshutoshDash1999 commented on #6
@anushbhatia can i work on features section?

[2020-08-16 03:52] rohan2734 commented on #4
@anushbhatia   could you please asign me the task of  video playing in intro, i learned it now and i know how to do that.

[2020-08-16 03:56] rohan2734 commented on #5
@anushbhatia  I would like to work on whatsapp mesage using selenium. could you please assign that task to me.

[2020-08-16 04:59] abhu-A-J opened #20 "Update the dependecies to the latest version"
Update all the dependencies for the project to the latest version and make sure to correct any breaking changes whatsoever.
Also audit fix any vulnerabilities found while doing so.

[2020-08-16 05:12] abhu-A-J opened #21 "Design a new logo for the application"
Create a custom logo for the application. You can use services from Adobe or any other service which will help you deliver the best logo.

The logo must be available in `.PNG` and `SVG` format and must be within 200*200 px at max.

The issue is open for all,so anyone can contribute to it.
 Raise your PR to branch `logo_samples`.

**Open for Everyone!! (10 people maximum)**.

Comment down if you're

[2020-08-16 06:41] ritiksoni00 commented on #21
ill work on that

[2020-08-16 06:50] abhu-A-J commented on #21
You can reach out to admin for some inspiration or idea! He can guide you for UI/UX related issues! But anything which can either explain the app or similar will be accepted!

[2020-08-16 07:22] ritiksoni00 commented on #18
can i start??

[2020-08-16 07:28] Souvikns commented on #20
For this, I think we could add [dependabot ](https://dependabot.com/) to maintain our dependencies

[2020-08-16 07:38] abhu-A-J commented on #20
That's a great idea! But the reason I created this was for absolute beginners to make their first PR.

[2020-08-16 07:41] sayashchaudhary opened #23 "vulnerabilities"
There are 4999 vulnerabilities  (4996 low, 3 high)

[2020-08-16 07:44] abhu-A-J commented on #23
Addressed on #20 . I'm closing this ! You can continue the discussion on #20

[2020-08-16 07:44] #23 closed

[2020-08-16 08:07] sayashchaudhary commented on #20
Can i update the dependencies in this project

[2020-08-16 09:07] sayashchaudhary commented on #12
can I set-up eslint for this project ?

[2020-08-16 10:33] Souvikns opened #25 "Dynamic content for contributers"
As in #7 the details of the contributors, I would like to use Github API to fetch dynamic data and update the component. This away we don't have to update the webpage every time a new contributor arrives. We already have a pr #19, I will use this view, but the data will be fetched through Github API.

Check [this](https://developer.github.com/v3/repos/statistics/) for API

[2020-08-16 10:44] Souvikns commented on #25
@abhu-A-J will you assign this to me

[2020-08-16 11:18] sayashchaudhary commented on #6
Can i implement the About Us page with better UI and better usage of the social icons

[2020-08-16 11:37] anushbhatia commented on #21
Any Help you can feel free to contact me

[2020-08-16 12:57] abhu-A-J commented on #25
Go for it! Make use of hooks and functional components instead of class-based components

[2020-08-16 13:54] ritiksoni00 commented on #21
is it hard or medium?? @abhu-A-J

[2020-08-16 13:56] abhu-A-J commented on #21
We'll give points based on the design of the logo!

[2020-08-16 14:46] abhu-A-J opened #31 "Add the corrections/suggestions given by linters"
Clear all console logs warning related to linting and errors for cross dependencies for JQuery for the project.

[2020-08-16 14:52] abhu-A-J opened #32 "Adding a custom 404 component for Default Page"
Currenly the details page displays a basic `Page Not Found Message`.

The PR should improve this by showing a custom 404 component (with some animations ) and `Page Not Found Text`
and a button to go back to home page on click.

The 404 components must be made separately.
Place the 404 along with it styles in the following folder/path:

1. Create a folder called 404-page inside components folder.

[2020-08-16 14:55] kashika3101 commented on #32
Please assign it to me.
I would like to work on this issue

[2020-08-16 14:56] avinashkranjan commented on #32
I'll take this issue..Assign Ms

[2020-08-16 15:04] abhu-A-J commented on #32
@kashika3101  I'm assigning this to you since you commented first!
@avinashkranjan watch out for other issue, I will be creating some more!

[2020-08-16 15:05] Electron-2002 commented on #31
@abhu-A-J Can you assign this to me?

[2020-08-16 15:18] abhu-A-J commented on #31
Go for it! Since it's very basic I'm giving you 12 hrs ! After that the issue will be re assigned!

[2020-08-16 15:24] abhu-A-J opened #33 "Improve the fetchUsers hook!"
The fetch Users hook present inside the `/lib` folder needs a small update.

The purpose of the hook is to fetch the list of all the contributors for the project!
We need to filter out the accounts for our admins `anushbhatia` and `smaranjitghose` and possible mentors including me `abhu-A-J`.

You need to improve the map mehod where we return out all contributors except these 3.

In addition that

[2020-08-16 15:26] #25 closed

[2020-08-16 15:47] Electron-2002 commented on #31
@abhu-A-J  I sent a PR. I was unable to link it to this issue.
Kindly check the PR.

Sorry for any inconvenience caused from my side. 😅

[2020-08-16 16:02] Souvikns commented on #33
@abhu-A-J I would like to do this.

[2020-08-16 16:09] abhu-A-J commented on #33
Go ahead !

[2020-08-16 16:16] anushbhatia commented on #5
basic details name,phone number,email,their social media handles

[2020-08-16 17:32] #31 closed

[2020-08-16 18:19] ritiksoni00 commented on #18
This type of work na??

[2020-08-16 18:28] ritiksoni00 commented on #18
Didnt get this !

[2020-08-17 05:11] Souvikns opened #38 "Create _redirect file for netlify"
Currently prs are struggling because netlify's redirect rules. I would like to add the redirect file for netlify

[2020-08-17 06:11] kartikeya-123 commented on #5
I would like to work on the basic form structure

[2020-08-17 06:38] kartikeya-123 commented on #6
I would like to work on features section. Can I know what features are to be added .

[2020-08-17 13:44] #20 closed

[2020-08-17 13:51] smaranjitghose commented on #38
Can you please elaborate more and explain with an example

[2020-08-17 13:52] anushbhatia commented on #6
@aayushi2883 has 1 day left then you can continue @kartikeya-123

[2020-08-17 14:59] Souvikns commented on #38
Currently, the hosted website in [netlify](https://social-scheduler.netlify.app/) has an issue.
suppose you go to contact page which is on `https://social-scheduler.netlify.app/contact` it will work just fine but if you refresh the page it will `page not found` error from netlify. Also when you try to go to any route manually by typing the link in the browser search you will get this same error.

[2020-08-18 04:28] abhu-A-J commented on #18
Yup thats' correct! Mention Node.js as the requirement to setup the project and maybe add a few resources that show how to install node.js in out Operating System (MAC,Windows,Linux)

[2020-08-18 04:29] abhu-A-J commented on #21
@ritiksoni00 Progress on this?

[2020-08-18 04:35] rohan2734 commented on #5
@anushbhatia  i would like to work on whatsapp message using selenium. Could you please assign me this task.

[2020-08-18 06:59] utchak160 commented on #21
Assign this task to me.

[2020-08-18 08:47] utchak160 commented on #5
Can I work on LinkedIn Message task?

[2020-08-18 09:32] rohan2734 commented on #5
is there any mentor here who could assign me the task of sending "whatsapp message using selenium" ??. please assign me this task.

[2020-08-18 12:43] abhu-A-J commented on #21
Go for it! Make sure to make a PR on appropriate branch!

[2020-08-18 13:25] Souvikns commented on #38
@smaranjitghose will you please assign me this issue.

[2020-08-18 15:08] Souvikns commented on #38
my previous pr was approved but not merged yet, so when I pushed the code for this issue it went there. #35

[2020-08-18 16:45] #33 closed

[2020-08-18 17:02] Souvikns commented on #38
@smaranjitghose this error issue is fixed, when you merged the #35

[2020-08-18 19:15] utchak160 commented on #4
Can I work on a basic Home Page listing Descriptions?

[2020-08-18 19:20] utchak160 commented on #7
Can I work to make UI better and more responsive of contact Page?

[2020-08-18 21:31] Shruti3004 commented on #4
@anushbhatia we can modify the navigation icon

[2020-08-19 03:33] kartikeya-123 commented on #6
@anushbhatia  please assign me the features section issue. I would like to work on it. Can you brief me about what exactly the features should be like.

[2020-08-19 04:18] rohan2734 commented on #5
I am posting this twice. because there is no reply for this comment. Please assign me this task mentors of  "whatsapp message using selenium" ??

[2020-08-19 06:34] abhu-A-J commented on #5
Go for it! Also mentors will reply so not to worry about it in the future!

[2020-08-19 06:44] abhu-A-J opened #43 "Refactor Contact form from Class based to Functional Based Component"
After the PR #41 get's merged, refactor the code to use functional component.
Try using functional components with hooks whenever possible until class based component becomes an absolute necessity!

[2020-08-19 06:45] abhu-A-J commented on #32
@kashika3101 What's the update here?

[2020-08-19 06:51] utchak160 commented on #43
Please assign this task to me.

[2020-08-19 07:22] rohan2734 commented on #32
@abhu-A-J  can u assign me the task of "whatsapp message with sekenium" in Form Page. I commented there first , but no one is caring about that.Please look after that

[2020-08-19 07:23] rohan2734 commented on #5
Thanks for assigning me, i will start working on it.

[2020-08-19 07:26] kartikeya-123 commented on #6
Can I start with the features section.

[2020-08-19 07:26] abhu-A-J commented on #43
@utchak160 I'm giving you this one! Let your correction PR get merged first!

[2020-08-19 07:28] utchak160 commented on #43
Ok, I'll do this after that.

[2020-08-19 10:49] kashika3101 commented on #32
@abhu-A-J I'm about to make a PR

[2020-08-19 13:30] utchak160 commented on #5
Please assign me the Basic Form Structure task

[2020-08-20 04:52] ritiksoni00 commented on #21
sorry for the delay, I was on my rest days! start working from today

[2020-08-20 05:41] utchak160 commented on #8
The Footer code needs some formatting. Can I do this?

[2020-08-20 06:41] kartikeya-123 commented on #6
@anushbhatia  can you please brief me about the features that to be added and I want to know whether I can use react-bootstrap .

[2020-08-20 06:50] srishtij2000 commented on #4
Can I work on cards section?

[2020-08-20 09:11] abhu-A-J commented on #38
@Souvikns I think this issue is solved?? I'm closing it. If some work is still left let me know, I'll re open it!

[2020-08-20 09:11] #38 closed

[2020-08-20 09:14] abhu-A-J commented on #18
@ritiksoni00 Are you still interested? I'll assign this ti someone else if you don't complete it by tonight!

[2020-08-20 09:16] abhu-A-J commented on #32
Update?? I will assign it to someone else if you don't submit it by today!

[2020-08-20 09:48] abhu-A-J opened #46 "Contributors Page"
The current file contributors.js showcases all the cards in a hardcoded format!

Make a new component called card.jsx/js and move the code to produce the card in there. (it should take details as it props)
Use this card component to populate the details of contributors using contributors.js which return the list of contributors

[2020-08-20 09:53] abhu-A-J opened #47 "Mentors and admins cards"
Only work after #46 is resolved.

Use the card component created in #46 and pass it with appropriate props to produce the admin and mentors card.
The details of mentors and admin will be static and should be present in the folder `data/adminList.js` and `data/mentorList.js`.
The details should be present as array of objects (object describing the details of the person -i mage, name and tagline . Y

[2020-08-20 10:26] 07souravkunda commented on #46
Hello @abhu-A-J !
I want to work on this issue. Can you please assign it to me ?

[2020-08-20 10:32] abhu-A-J commented on #46
Go for it

[2020-08-20 10:39] ritiksoni00 commented on #18
sorry for delay!

[2020-08-20 10:49] ritiksoni00 commented on #18
clear this whole part! little bit confused so just asking ![image](https://user-images.githubusercontent.com/47344024/90761061-73c4bd80-e300-11ea-8b30-839ef7a24c14.png)

[2020-08-20 11:19] Souvikns commented on #47
as `data/admin.js` and `data/mentorList.js` is arrays, Should I make some changes so that `contributors.js` returns three objects, for admin, mentor and contributors each.

[2020-08-20 11:22] Souvikns opened #48 "Contributors button not showing full text"
Currently in Navbar the Contributors button is not completely showing the text.
![image](https://user-images.githubusercontent.com/41781438/90764093-6958f280-e305-11ea-9e36-932aa7b74222.png)

[2020-08-20 11:39] utchak160 commented on #47
Please assign this task to me.

[2020-08-20 11:44] utchak160 commented on #48
Assign this task to me.

[2020-08-20 11:50] ashishnagpal2498 commented on #48
Just take the latest pull, there's no issue in that.
![image](https://user-images.githubusercontent.com/36301481/90766249-e20d7e00-e308-11ea-9035-53f858535b24.png)
You can work on padding of contributor button as you can see that is unequal. You just have to change a single CSS property.

[2020-08-20 11:53] ashishnagpal2498 commented on #48
@utchak160 , since @Souvikns raised the issue, so it will be assigned to him. If he is not interested, then only I can assign it to you.

[2020-08-20 12:17] utchak160 commented on #48
ok. no problem

[2020-08-20 12:48] abhu-A-J commented on #47
@Souvikns @utchak160  You can make a named export from both file with an array of objects for admins and mentors.
There' no need to changed contributors.js since admin and mentor list is very small and we can easily write the list ourselves .
in future if the list expands we'll update our scripts.

@utchak160 I'm assigning you this one since @Souvikns had worked on this part already!.

[2020-08-20 12:49] Souvikns commented on #48
@ashishnagpal2498 you can assign this issue ti @utchak160, I would like to be assigned to #47 as I have worked on this. and I would love to work on this further.

[2020-08-20 12:55] Souvikns commented on #47
@abhu-A-J I think as we are getting all the data from the API so we do have all the data during sorting out, we should change the `contributors.js` file. Suppose in future anyone changes their profile data in github it will be reflected in the data automatically.

[2020-08-20 13:26] abhu-A-J commented on #47
@Souvikns That's the way to do it! :+1: The reason I wanted a static list was if the API call fails I want just this static list of mentors and admins to render out. However, there are many ways to doing this so I am opening this up for further discussion and tagging another mentor for his insight on this (@ashishnagpal2498  thoughts??) :smile:

[2020-08-20 13:37] Souvikns commented on #47
I would have really like to do this, but since you have assigned someone is there any other work, that I can do.

[2020-08-20 13:41] abhu-A-J commented on #47
We'll come up with plenty more issues soon! Since a lot of PR are under review it os blocking further steps for the application. Once they get merged , there will be more things to work on!

[2020-08-20 16:36] AltCtrlDel1999 commented on #5
Hey @abhu-A-J @anushbhatia I would like to work on basic form structure and LinkedIn visitor API

[2020-08-20 18:43] chetnaSharma24 commented on #21
hello @abhu-A-J  could you please assign this to me

[2020-08-22 04:17] abhu-A-J opened #54 "Design for HomePage"
This is strictly a design issue and involves no coding experience.
You have to come up with a design for the HomePage for the application to the best of your abilities.

For every design  you make, make sure to share a link from where we can export resources to build the design for the application.
Using Figma as the design tool would be great but you can do with whatever tool you're comfortable w

[2020-08-23 08:59] sayashchaudhary opened #57 "Folder Structure"
For eg - assets folder should be outside the components folder and shared components should be inside shared folders

[2020-08-23 18:27] AltCtrlDel1999 commented on #12
@ashishnagpal2498 I would like to work on this issue

[2020-08-23 18:57] AltCtrlDel1999 opened #59 "Register form component for user defined in footer part"
Register button present in footer does nothing

- [x] Add a Register form which can take user data

- [x] Modification in footer : Add a link to fork the repository of the social scheduler

[2020-08-23 18:58] AltCtrlDel1999 commented on #59
@abhu-A-J @anushbhatia I would like to work on this issue

[2020-08-24 04:24] utchak160 commented on #54
Okay

[2020-08-24 15:15] anushbhatia commented on #6
yes, you can use react-bootstrap.
- Regular Updates
- Fast
- Reliable
- Prior Information to Deadline

[2020-08-24 16:18] utchak160 commented on #47
This issue can be closed.

[2020-08-25 05:43] shankhanil007 commented on #59
Can I work on this issue?

[2020-08-26 15:02] sayashchaudhary commented on #57
Can i start working on it

[2020-08-26 16:36] abhu-A-J commented on #57
It seems there are still some issues pending ! You need to wait till PR's get merged. I'll tag you in here when you can do it. Till then you can take any other issue to work on.

[2020-08-27 20:17] ashishnagpal2498 commented on #12
still working on the issue @AltCtrlDel1999 ?

[2020-08-28 04:10] shankhanil007 commented on #32
I would like to work on this issue.

[2020-08-28 15:22] AltCtrlDel1999 commented on #12
Can you suggest any link to know about github Actions
I tried one but getting Error

[2020-08-29 08:42] AltCtrlDel1999 opened #64 "create a issue and pull request template"

[2020-08-29 08:42] AltCtrlDel1999 commented on #64
I would like to work on it

[2020-08-29 08:44] #59 closed

[2020-08-29 09:16] AltCtrlDel1999 commented on #12
I will complete it by tomorrow

[2020-08-31 05:47] utchak160 commented on #54
The design is complete.

[2020-09-03 08:16] ritiksoni00 commented on #18
@abhu-A-J  it should be closed now??

[2020-09-03 13:50] sayashchaudhary commented on #6
Can you tell more about the features section

[2020-09-03 19:06] AltCtrlDel1999 commented on #64
Currently, people are making issues and PR's without a proper format and description
So we can make templates so that they can fill info according to that templates
check this out: [](https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository)

[2020-09-03 19:06] AltCtrlDel1999 commented on #64
[https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository](url)

[2020-09-04 13:46] sayashchaudhary commented on #64
link is not opening

[2020-09-04 14:21] anushbhatia commented on #64
add a proper URL

[2020-09-04 14:23] ashishnagpal2498 opened #66 "Create header"
You need to create a header component for the project.
1) It should have logo and existing options ->  Logo, Home , about, Contributors Contact and SignIn option.
2) For logo place a dummy image and display text beside it.
3) On hover text should be underlined. (Use color code from the image.)
4) SignIn option should have a user icon, onclick a dropdown menu.
5) Mobile view of the header should lo

[2020-09-04 14:24] anushbhatia commented on #6
https://demos.creative-tim.com/material-kit-pro/sections.html#features

[2020-09-06 12:26] #32 closed

[2020-09-07 12:22] AltCtrlDel1999 commented on #64
[](https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository)

[2020-09-07 12:22] AltCtrlDel1999 commented on #64
[https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository](url)

[2020-09-07 12:23] AltCtrlDel1999 commented on #64
[Check this out](https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository)

[2020-09-08 14:33] rutujadhanawade commented on #66
I would like to work on this

[2020-09-08 20:25] ashishnagpal2498 commented on #66
Okay @rutujadhanawade . Assigning it to you. You got 5 days to complete it. Kindly fulfill all the requirements mentioned above in your PR.

[2020-09-08 20:41] ashishnagpal2498 opened #67 "Create Social Media Cards"
You need to create a Social Media Icons component for the project.
1) The component will itself use another component which is card component ( Name accordingly). This will be a `shared component` which will take props and display the `social Media card` accordingly.
2) The Outer component should use flex boxes therefore should be responsive.
3) The card should open for additional information on c

[2020-09-09 08:22] kritikaparmar-programmer commented on #67
I want to work on this issue.. Please assign me..

[2020-09-09 09:35] shawavisek35 commented on #67
I would like to work upon this issue

[2020-09-09 09:52] ashishnagpal2498 commented on #67
@kritikaparmar-programmer , assigning it to you. You got 5 days to complete it. Make sure to fulfill all the requirements mentioned above.

[2020-09-09 10:05] ashishnagpal2498 opened #68 "Create Events Card Component"
You need to create a Events Card component for the project.
1) The component will itself use another component which is card component ( Name accordingly). This will be a shared component which will take props and display the content inside the card accordingly.
2) The Outer component should use flex boxes therefore should be responsive.
3) Card should display 3 events at a time and in total 5 eve

[2020-09-09 13:05] shawavisek35 commented on #68
Can you explain what do you mean by "The behavior of card should be like this, disable left initially, and right on full slide"?

[2020-09-09 13:36] ashishnagpal2498 commented on #68
Yes, I mean to say, if you refer the link I shared, the cards slide to left even if you are on 1st slide. So you have to enable slide on single side only.
- Initial view     (left toggle (disabled)) (`<-`) Card 1 Card 2 Card 3 (`->`) (right toggle)
- Last slide view    (`<-`) Card 4 Card 5 view All (`->`)(right toggle button disabled).
This is what I mean to say. (It should not support circular ro

[2020-09-09 13:38] ashishnagpal2498 commented on #66
Keep in mind, your first PR is not supposed to be the best but a starting point for meeting the requirements, so do not wait until 5 days to show your work. Keep pushing your commits and getting feedback.

[2020-09-09 13:39] ashishnagpal2498 commented on #67
Keep in mind, your first PR is not supposed to be the best but a starting point for meeting the requirements, so do not wait until 5 days to show your work. Keep pushing your commits and getting feedback.

[2020-09-09 16:31] anushbhatia commented on #64
you can do this

[2020-09-09 16:49] AltCtrlDel1999 commented on #68
Hey i would like to work on it

[2020-09-10 05:03] rohan2734 commented on #5
Basic Form Page for signin Page is done , now as @ashishnagpal2498  has promised me to give the signin page aslo. I request @ashishnagpal2498  to assign me that task also.

[2020-09-10 13:19] ashishnagpal2498 commented on #68
Okay @AltCtrlDel1999 , assigning it to you. You got 5 days to complete it.
Keep in mind, your first PR is not supposed to be the best but a starting point for meeting the requirements, so do not wait until 5 days to show your work. Keep pushing your commits and getting feedback.

[2020-09-10 16:40] kritikaparmar-programmer commented on #67
Hey @ashishnagpal2498 , I've one doubt where I've to put these cards like on the home page body??
Please help!

[2020-09-10 17:30] kritikaparmar-programmer commented on #67
Sorry @ashishnagpal2498 , I thought it to do with html and css but not focused on the components part..
Sorry for the inconvenience.. I'm unassigning myself from this issue..

[2020-09-10 20:36] ashishnagpal2498 commented on #67
@shawavisek35 , would you like to work on this issue?

[2020-09-11 04:20] shawavisek35 commented on #67
Ok
I will work on this issue

[2020-09-11 05:53] shawavisek35 commented on #67
I have 2 question.
1. What will be the additional information that will displayed when opening a card?
2. Where this component will be displayed?

[2020-09-11 06:59] rohan2734 commented on #5
@anushbhatia  @ashishnagpal2498  @abhu-A-J  as the task : ``` LinkedIn Message Using Visor AP``` is assigned to @AltCtrlDel1999  but he has not done it , i would like to work on it.

[2020-09-11 14:49] shawavisek35 commented on #67
ok

[2020-09-13 14:50] ashishnagpal2498 commented on #66
What's the status of PR?

[2020-09-15 10:05] rutujadhanawade commented on #66
Yes I am doing it.  I will make PR soon.

[2020-09-16 05:44] rutujadhanawade commented on #66
Actually I am unable to complete it due to some issues. I am unassigning myself.

[2020-09-16 14:52] tusharnankani opened #70 "Typo in Contributor's Card."
Typo in `Contributor`, written Contributer.

![Screenshot (459)](https://user-images.githubusercontent.com/61280281/93353960-22094780-f85a-11ea-9f44-92e73af481e7.png)

[2020-09-16 15:03] tusharnankani opened #72 "Linking Contributor's card to their respective GitHub Profiles"
https://github.com/anushbhatia/Social-Scheduler/blob/9d347b6047d2e0c92349e57a010d473a0680ebd8/src/lib/contributers.js#L30

### Since, we are also fetching the `URL` to the contributor's profile, we can link to their username and their avatar in their Cards, over here:

https://github.com/anushbhatia/Social-Scheduler/blob/9d347b6047d2e0c92349e57a010d473a0680ebd8/src/components/Card.jsx#L8

https://

[2020-09-17 13:01] AM1CODES opened #73 "Signin could be changed to Sign-In"
The sign in section feels a bit odd because of the way it is typed. My suggestion is that we can change it to Sign-In.

[2020-09-17 16:15] ashishnagpal2498 commented on #73
This will be covered in Header component. You can work on that if you want -> Issue #66

[2020-09-17 16:15] #73 closed

[2020-09-17 16:56] ashishnagpal2498 commented on #72
Okay, I can assign you this work. Also there are few changes in contributors page which are need to be done.
1) The card class is a bootstrap class. Someone has messed up those classes with inline and external file CSS.
So you have to clean that file up. Make it simple, change existing or create new file and delete previous ones(up-to you, inspect thoroughly and delete css properties).
Currently i

[2020-09-17 16:57] #70 closed

[2020-09-17 17:16] rajatgoel47 commented on #12
can I work on this issue?

[2020-09-17 17:25] tusharnankani commented on #64
Can I work on the templates?

[2020-09-17 18:25] ashishnagpal2498 commented on #12
Sure @rajatgoel47 . Assigning it to you.

[2020-09-17 18:38] ashishnagpal2498 commented on #68
Any updates on PR? @AltCtrlDel1999

[2020-09-17 19:01] #64 closed

[2020-09-17 19:13] tusharnankani commented on #72
Alright, working on it! @anushbhatia

Just a few clarifications from my side:
- I am new to Open Source and Development, I will try my best to fix it.

- This will be difficult for me to implement.

Thank you!
Tushar Nankani
^_^

[2020-09-17 19:29] ashishnagpal2498 commented on #5
Okay @rohan2734 , you can start working on LinkedIn Message API.

[2020-09-18 13:32] #72 closed

[2020-09-18 13:43] tusharnankani opened #76 "Order of list of contributors."
# Description

The order of the contributors' list is rather random.
- It can be arranged in maximum commits by contributors, directly from GitHub API.
- Or it can be arranged in alphabetical order.

## Type of issue

*These checkboxes can be checked like this: `[X]`*

- [X] Feature

## Checklist

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before subm

[2020-09-18 13:50] tusharnankani opened #77 "Mentors and Maintainers cards not yet linked."
# Description

This is issue is in reference to #72 which was closed recently by this PR #75 from my side.

- In the mentioned issue #72, this problem is yet to be dealt with.

This was yet to be implemented since it is typed out for Mentors and Maintainers in [Detail.js](https://github.com/anushbhatia/Social-Scheduler/blob/master/src/components/Detail.js)

- If this cannot be implemented, then we

[2020-09-19 11:48] AdityaJ7 opened #78 "Wrong placeholder has been provided for password in the Sign In section"
# Description
The wrong placeholder for password in the sign-in form should be replaced with "Enter Your Password."

## Type of issue
- [x] Bug

## Checklist

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] I have added screenshots in case of bugs/feature

[2020-09-19 11:52] AdityaJ7 commented on #78
Apart from this, some spacing can be provided between the words **Sign** and **In** and the words **Sign** and **Up** to make it look a bit better.

[2020-09-20 11:22] ashishnagpal2498 commented on #76
You would like to add filter option ( user can view two different ways) or you want to add by default ?

[2020-09-20 11:23] ashishnagpal2498 commented on #77
Since, contributors and all these cards will be merged. No need for this issue. :)

[2020-09-20 11:23] #77 closed

[2020-09-20 14:51] ashishnagpal2498 opened #82 "Contribute Md, correct links"
# Description
'this' link and name of repo in contribution.md  are invalid. Correct those links.

## Type of issue
- [X] Bug
- [X] Documentation

### Screenshots
![image](https://user-images.githubusercontent.com/36301481/93714202-ba673b00-fb7e-11ea-9f18-2f34456b9f30.png)

[2020-09-20 14:52] rajatgoel47 commented on #82
can I work on this issue?

[2020-09-20 16:32] tusharnankani commented on #76
I think we should lay the order out contribution-wise, instead of alphabetical. Also, I don't think the filter option is required.

[2020-09-20 17:18] #82 closed

[2020-09-20 18:34] #78 closed

[2020-09-21 02:58] AdityaJ7 opened #84 "Minor typo in project description"
# Description

Typo in the description of the project

## Type of issue

- [x] Bug

## Checklist

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] I have added screenshots in case of bugs/feature updates.
- [x] This issue will be meaningful for the project

[2020-09-26 21:37] ashishnagpal2498 opened #86 "Show empty cards to contributors page with animation"
# Description
Since data is fetched from API, there can be a slight delay. To avoid empty view we want to show empty cards.
Reference Image -
![empty state](https://user-images.githubusercontent.com/36301481/94350712-830cf880-006e-11eb-888b-ba6911e469ed.png)
## Type of issue

- [X ] Feature (New Script)

[2020-09-26 21:43] #84 closed

[2020-09-27 09:41] ashishnagpal2498 commented on #76
I don't think there is as such of need for this. It can be additional to the project, but not necessary.

[2020-09-27 09:41] #76 closed

[2020-09-27 13:32] nikita-1801 commented on #66
I'd like to work on this.

[2020-09-28 09:10] ashishnagpal2498 commented on #66
I hope you have read the requirements carefully. You need to create a react component which is responsive. 5 days to complete your task. Keep updating the PR :)

[2020-09-28 09:13] ashishnagpal2498 commented on #54
add a json file - features.json Add design as key and figma link as value. Create a pull request and you'll get points for this issue :)

[2020-09-28 09:13] #47 closed

[2020-09-28 09:14] #18 closed

[2020-09-28 09:28] utchak160 commented on #54
Ok, I'll do it.

[2020-09-28 10:52] nikita-1801 commented on #66
I'm sorry I wasn't aware that we have to use react for this. I was just going to make it using HTML, CSS and JS. Are there any resources that you can recommend for using react here?

[2020-09-28 13:49] ashishnagpal2498 commented on #66
Okay, no issues. create using html, CSS. I'll help you converting that into react component. But it should meet other requirements i.e responsive mobile view. Cool ?

[2020-09-28 13:52] #54 closed

[2020-09-28 14:01] ashishnagpal2498 commented on #8
Broken image of HakinCodes. Correct readme file.
![socialScheduler](https://user-images.githubusercontent.com/36301481/94441966-06d6fa00-01c1-11eb-9ba5-3c6e3bf97e71.png)

[2020-09-28 14:01] ashishnagpal2498 commented on #8
Broken image of HakinCodes. Correct readme file.
![socialScheduler](https://user-images.githubusercontent.com/36301481/94441966-06d6fa00-01c1-11eb-9ba5-3c6e3bf97e71.png)

[2020-09-28 14:05] akankshaprasad8 commented on #8
can I work on this issue?

[2020-09-28 15:27] nikita-1801 commented on #66
Yes, sure!

[2020-09-30 07:20] #5 closed

[2020-10-01 17:22] ashishsahu1 commented on #86
Hey Ashish I want to work in this issue, can you explain the work a little bit more?

[2020-10-03 10:20] #66 closed

[2020-10-06 13:34] trybick commented on #21
@abhu-A-J Are you still accepting new logo ideas? (for hacktoberfest)

[2020-10-06 20:35] smaranjitghose commented on #21
No.

But if you want to contribute some custom logos, feel free to give a PR to:
- [Doc2Pen](https://github.com/smaranjitghose/doc2pen)
- [Awesome Portfolio Websites](https://github.com/smaranjitghose/awesome-portfolio-websites)

[2020-10-06 20:35] #21 closed

[2020-10-06 20:36] #67 closed

[2020-10-06 20:36] #12 closed

[2020-10-06 20:36] #7 closed

[2020-10-06 20:36] #6 closed

[2020-10-06 20:36] #4 closed

[2020-10-06 20:37] #8 closed

[2020-10-06 20:37] #57 closed

[2020-10-06 20:37] #68 closed

[2020-10-06 20:37] #86 closed

[2020-10-31 17:43] SingingApple opened #103 "Favicon"
There's no favicon for the website.

[2020-11-03 05:21] #103 closed